{% extends 'layoutfront.twig' %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2 class="section-heading">Les derniers articles</h2>
                <hr>

                {% for post in listposts %}
                    <div class="post-preview">
                        <a href="index.php?action=post&amp;id={{ post.postId }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.chapo }}
                        </h3>
                        </a>
                        <p class="post-meta">Publié par {{ post.authorLogin }} le {{ post.lastUpdate }}</p>
                    </div>
                    <div class="clearfix">
                    <a class="btn btn-primary float-right" href="index.php?action=post&amp;id={{ post.postId }}">Lire la suite &rarr;</a>
                </div>
                    <hr>
                {% endfor %}

                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="index.php?action=page&amp;id=1">Anciens Articles &rarr;</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Contact Form -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2 class="section-heading" id="contact">Contactez-moi</h2>
                <p>Envoyez-moi un message et je vous répondrai dans les plus brefs délais !</p>

                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group">
                        <div class="form-row">
                            <div class="form-group col-lg-6 floating-label-form-group controls">
                            <label>Nom</label>
                            <input type="text" class="form-control" placeholder="Nom" id="name" required data-validation-required-message="Entrez votre nom.">
                            <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group col-lg-6 floating-label-form-group controls">
                            <label>Prénom</label>
                            <input type="text" class="form-control" placeholder="Prénom" id="surname" required data-validation-required-message="Entrez votre prénom.">
                            <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Entrez votre adresse email.">
                        <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                        <label>Message</label>
                        <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Entre votre message ici."></textarea>
                        <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Envoyer</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}