{% extends 'layoutfront.twig' %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2 class="section-heading">Tous les articles</h2>
                <hr>

                {% for post in listposts %}
                    <div class="post-preview">
                        <a href="index.php?action=post&amp;id={{ post.postId }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.chapo }}
                        </h3>
                        </a>
                        <p class="post-meta">Publié par {{ post.authorLogin }} le {{ post.lastUpdate }}</p>
                    </div>
                    <div class="clearfix">
                    <a class="btn btn-primary float-right" href="index.php?action=post&amp;id={{ post.postId }}">Lire la suite &rarr;</a>
                </div>
                    <hr>
                {% endfor %}

                <!-- Pager -->
                <div class="clearfix">                                
                </div>
                {% include 'pagination.twig' with {
                    currentPage: currentPage,
                    lastPage: totalPages
                } only %}
            </div>
        </div>
    </div>
{% endblock %}