{% extends 'LayoutFront.twig' %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">                
                <div class="post-preview">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h4 class="post-subtitle">
                        {{ post.chapo }}
                    </h4>
                    <p>
                        {{ post.content }}
                    </p>
                    <p class="post-meta">Publié par {{ post.authorLogin }} le {{ post.lastUpdate }}</p>
                </div>
                
                <!-- Pager for Posts-->
                <div class="clearfix">
                    {% include 'frontoffice/PaginationSinglePost.twig' with {
                        prevId: prevId,
                        nextId: nextId,
                    } only %}
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Comments Section -->

    {% if listcomments %}
    <div class="container" id="comments">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">                

                {% for comment in listcomments %}
                <div class="post-preview">
                    <p class="post-meta">{{ comment.authorLogin }}, le {{ comment.lastUpdate }} :</p>
                    <p>
                        {{ comment.content }}
                    </p>
                </div>
                {% endfor %}
                <!-- Pager for Comments-->
                <div class="clearfix">
                    {% include 'frontoffice/PaginationComment.twig' with {
                        currentPage: currentPage,
                        lastPage: totalPages,
                        postId: postId
                    } only %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% endif %}

    <!-- Comment Form -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2 class="section-heading" id="comments">Ajouter un commentaire</h2>
                {% if session.success %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ session.success }}
                    </div>    
                {% endif %}
                {% if session.error %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ session.error }}
                    </div>    
                {% endif %} 
                <form method="post" action="addcomment/{{ postId }}" name="sentMessage" id="contactForm" class="needs-validation" novalidate>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                        <label>Tapez votre message</label>
                        <textarea type="text" rows="5" name="comment" class="form-control" placeholder="Votre message (vous devez être connecté pour ajouter un commentaire, et il sera soumis à validation"  required data-validation-required-message="Entre votre message ici."></textarea>
                        <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Envoyer</button>
                    </div>
                </form>
                
                <script>
                    // starter JavaScript for disabling form submissions if there are invalid fields, from bootstrap4 doc
                    (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                        });
                    }, false);
                    })();
                </script>
            </div>
        </div>
    </div>
{% endblock %}