{% extends 'layoutfront.twig' %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                
                <div class="post-preview">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h4 class="post-subtitle">
                        {{ post.chapo }}
                    </h4>
                    <p>
                        {{ post.content }}
                    </p>
                    <p class="post-meta">Publié par {{ post.authorLogin }} le {{ post.lastUpdate }}</p>
                </div>
                
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Anciens Articles &rarr;</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}