{% extends 'LayoutFront.twig' %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">                
                <div class="post-preview">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h4 class="post-subtitle">
                        {{ post.chapo }}
                    </h4>
                    <p>
                        {{ post.content }}
                    </p>
                    <p class="post-meta">Publié par {{ post.authorLogin }} le {{ post.lastUpdate }}</p>
                </div>
                
                <!-- Pager for Posts-->
                <div class="clearfix">
                    {% include 'frontoffice/paginationSinglePost.twig' with {
                        prevId: prevId,
                        nextId: nextId,
                    } only %}
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Comments Section -->

    {% if listcomments %}
    <div class="container" id="comments">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">                

                {% for comment in listcomments %}
                <div class="post-preview">
                    <p class="post-meta">{{ comment.authorLogin }}, le {{ comment.lastUpdate }} :</p>
                    <p>
                        {{ comment.content }}
                    </p>
                </div>
                {% endfor %}
                <!-- Pager for Comments-->
                <div class="clearfix">
                    {% include 'frontoffice/paginationComment.twig' with {
                        currentPage: currentPage,
                        lastPage: totalPages,
                        postId: postId
                    } only %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% endif %}

    <!-- Comment Form -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2 class="section-heading">Ajouter un commentaire</h2>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                        <label>Tapez votre message</label>
                        <textarea rows="5" class="form-control" placeholder="Votre message (vous devez être connecté pour ajouter un commentaire, et il sera soumis à validation" id="message" required data-validation-required-message="Entre votre message ici."></textarea>
                        <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Envoyer</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}