{% extends 'LayoutBack.twig' %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2 class="section-heading">Membres :</h2>
                <hr>
                <br>

                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Login</th>
                            <th>Email</th>
                            <th>Inscrit le</th>
                            <th>Profil</th>
                            <th>Droits Admin</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in listUsers %}
                        <tr>
                            <td>{{ user.userId }}</td>
                            <td>{{ user.login }}</td>
                            <td>{{ user.email }}</td>
                            <td width="220">{{ user.created }}</td>
                            <td>{{ user.type }}</td>
                            {% if user.type == 'admin' %}
                                <td><a href="admin/demote/{{ user.userId }}">Retirer</a></td>
                            {% endif %}
                            {% if user.type == 'member' %}
                                <td><a href="admin/promote/{{ user.userId }}">Donner</a></td>
                            {% endif %}
                        </tr> 
                        {% endfor %}                        
                    <tbody>
                </table>

                <!-- Pager -->
                <div class="clearfix"></div>
                {% include 'backoffice/PaginationUsers.twig' with {
                    currentPage: currentPage,
                    lastPage: totalPages
                } only %}
            </div>
        </div>
    </div>
{% endblock %}